
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --branco: white;
    --cor-de-fundo: #00162E;
    --fundo-senha: #FF0000;
    --borda: #002440;
    --roboto: 'Montserrat', sans-serif;
    --reboto-mono: 'Roboto Mono', monospace;
}


*{ 
    font-weight: 400;
 }

 body{
    color: var(--branco);
    background-color: var(--cor-de-fundo);
    font-family: var(--roboto);
}

.titulo-principal{
    font-family: var(--roboto-mono);
    font-size: 32px;
}

.titulo-secudario{
    font-size: 24px;
}

.conteudo-titulo{
    text-align: center;
    margin-top: 80px;
}

.conteudo-senha{
    margin-top: 80px;
    background-color: var(--fundo-senha);
    border: none;
    color: var(--branco);
    font-family: var(--reboto-mono);
    font-size: 40px;
}